{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="row">
        {% for listing in watchlist %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <a href="{% url 'listing' listing.id %}">View Listing</a>
                        <form action="{% url 'watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                            <input type="submit" name="button" value="Remove from Watchlist">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}